<!DOCTYPE html>
<html>
<head>
        <title>Easy-buy_購物清單</title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue"></script>
        <link href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app"><!--讓vue認得-->
        <h1>購物車</h1>
        <div class="buy_item control_panel">
            <label>名稱</label>
            <input type="text" v-model="input_name" name="input_name" id="input_name" class="input_name" placeholder="名稱..."/>
            <label>單價</label>
            <input type="text" v-model="input_price" name="input_price" id="input_price" class="input_price" placeholder="單價..."/>
            <label>數量</label>
            <input type="text" v-model="input_amount" name="input_amount" id="input_amount" class="input_amount" placeholder="數量..."/>
            <input type="button" class="add_btn" value="+加入" v-on:click="addList(input_name,input_price,input_amount)" /> 
        </div>
        <h2>清單內容</h2>
        <ol>
            <li v-for="(name) in names">
                {{name.content}}
                -<a href="#" @click.prevent="delList(name)">刪除</a>
            </li>  
           <h5>訂單總金額:{{total}}</h5>  
        </ol>
    
    </div>
    <script src="scripts\main.js"></script>
</body>  
</html>



 